In [209]:
import pandas as pd
import numpy as np

In [210]:
ticket = pd.read_csv('dataset\\reserve_ticket_2022.csv') # 2월19일부터 10월 16일까지의 매표데이터

In [211]:
ticket

,reserve_no,membership_no,reserve_datetime,cancel_datetime,game_date,game_time,match_info,reserve_state_code,reserve_detail_no,ticket_no,product_grade_name,product_denomination_name,seat_Attribute_4,seat_Attribute_5,seat_Attribute_6,cancel_yn,detail_cancel_date_time
0,1427279942,291,NaN,2022-02-15 00:43:44,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,ALL_CANCEL,1,1071933885,1인 테이블석(SG2),5천원 멤버십 할인권 (일반),S1구역,C열,24번,Y,2022-02-15 00:43:44
1,1427279998,1073,NaN,2022-02-14 19:44:11,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,ALL_CANCEL,1,1071933954,With석,성인,W8구역,G열,11번,Y,2022-02-14 19:44:11
2,1427279998,1073,NaN,2022-02-14 19:44:11,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,ALL_CANCEL,2,1071933955,With석,성인,W8구역,G열,13번,Y,2022-02-14 19:44:11
3,1427279998,1073,NaN,2022-02-14 19:44:11,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,ALL_CANCEL,3,1071933956,With석,성인,W8구역,G열,15번,Y,2022-02-14 19:44:11
4,1427314440,3281,NaN,2022-02-16 13:07:56,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,ALL_CANCEL,1,1071960581,Exciting석,성인,E6구역,G열,19번,Y,2022-02-16 13:07:56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53916,1436677919,139589,2022-10-16 19:04:34,NaN,2022-10-16,19:00:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 포항 스틸러스,COMPLETE,2,1083176428,Exciting석,성인,E4구역,K열,9번,N,NaN
53917,1436677919,139589,2022-10-16 19:04:34,NaN,2022-10-16,19:00:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 포항 스틸러스,COMPLETE,3,1083176429,Exciting석,청소년/어린이,E4구역,K열,10번,N,NaN
53918,1436678141,151984,2022-10-16 19:16:26,NaN,2022-10-16,19:00:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 포항 스틸러스,COMPLETE,1,1083176663,원정석,성인,N3구역,P열,20번,N,NaN
53919,1436678299,118329,2022-10-16 19:26:17,NaN,2022-10-16,19:00:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 포항 스틸러스,COMPLETE,1,1083176800,S석,성인,S 6구역,M열,20번,N,NaN
53920,1436678299,118329,2022-10-16 19:26:17,NaN,2022-10-16,19:00:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 포항 스틸러스,COMPLETE,2,1083176801,S석,성인,S 6구역,M열,21번,N,NaN

In [212]:
ticket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53921 entries, 0 to 53920
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   reserve_no                 53921 non-null  int64
 1   membership_no              53921 non-null  int64
 2   reserve_datetime           48482 non-null  object
 3   cancel_datetime            5439 non-null   object
 4   game_date                  53921 non-null  object
 5   game_time                  53921 non-null  object
 6   match_info                 53921 non-null  object
 7   reserve_state_code         53921 non-null  object
 8   reserve_detail_no          53921 non-null  int64
 9   ticket_no                  53921 non-null  int64
 10  product_grade_name         53921 non-null  object
 11  product_denomination_name  53921 non-null  object
 12  seat_Attribute_4           53921 non-null  object
 13  seat_Attribute_5           53762 non-null  object
 14  seat_Attribute_6           53921 non-null  object
 15  cancel_yn                  53921 non-null  object
 16  detail_cancel_date_time    5439 non-null   object
dtypes: int64(4), object(13)
memory usage: 7.0+ MB

In [213]:
ticket.reserve_datetime.isna().sum()

5439

In [214]:
ticket.reserve_state_code.unique() # 모든티켓취소, 부분취소, 정상사용 3개항목으로 구분되어있음

array(['ALL_CANCEL', 'PART_CANCEL', 'COMPLETE'], dtype=object)

In [215]:
ticket[ticket['reserve_no'] == 1427279896] # 예매번호 1427279896의 경과된 상세정보를 알 수 있음

,reserve_no,membership_no,reserve_datetime,cancel_datetime,game_date,game_time,match_info,reserve_state_code,reserve_detail_no,ticket_no,product_grade_name,product_denomination_name,seat_Attribute_4,seat_Attribute_5,seat_Attribute_6,cancel_yn,detail_cancel_date_time
5,1427279896,3641,NaN,2022-02-19 13:16:32,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,PART_CANCEL,1,1071933861,S석,청소년/어린이,S11구역,E열,1번,Y,2022-02-19 13:16:32
6,1427279896,3641,NaN,2022-02-19 13:16:32,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,PART_CANCEL,2,1071933862,S석,청소년/어린이,S11구역,E열,2번,Y,2022-02-19 13:16:32
7,1427279896,3641,NaN,2022-02-19 13:16:32,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,PART_CANCEL,3,1071933863,S석,성인,S11구역,E열,3번,N,2022-02-19 13:16:32

In [216]:
ticket['game_date'] = pd.to_datetime(ticket['game_date'])

In [217]:
rank = pd.read_excel('dataset\\d95e264436cf42de.xlsx', engine='openpyxl')
rank.columns= ['game_date', 'ranking']
rank

     game_date  ranking
0   2019-03-03        5
1   2019-03-09        3
2   2019-03-10        5
3   2019-03-16        5
4   2019-03-17        6
..         ...      ...
322 2022-10-08        4
323 2022-10-09        4
324 2022-10-11        4
325 2022-10-12        4
326 2022-10-16        4

[327 rows x 2 columns]

In [218]:
ticket = pd.merge(ticket, rank, how='left', on='game_date')
ticket

,reserve_no,membership_no,reserve_datetime,cancel_datetime,game_date,game_time,match_info,reserve_state_code,reserve_detail_no,ticket_no,product_grade_name,product_denomination_name,seat_Attribute_4,seat_Attribute_5,seat_Attribute_6,cancel_yn,detail_cancel_date_time,ranking
0,1427279942,291,NaN,2022-02-15 00:43:44,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,ALL_CANCEL,1,1071933885,1인 테이블석(SG2),5천원 멤버십 할인권 (일반),S1구역,C열,24번,Y,2022-02-15 00:43:44,2.0
1,1427279998,1073,NaN,2022-02-14 19:44:11,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,ALL_CANCEL,1,1071933954,With석,성인,W8구역,G열,11번,Y,2022-02-14 19:44:11,2.0
2,1427279998,1073,NaN,2022-02-14 19:44:11,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,ALL_CANCEL,2,1071933955,With석,성인,W8구역,G열,13번,Y,2022-02-14 19:44:11,2.0
3,1427279998,1073,NaN,2022-02-14 19:44:11,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,ALL_CANCEL,3,1071933956,With석,성인,W8구역,G열,15번,Y,2022-02-14 19:44:11,2.0
4,1427314440,3281,NaN,2022-02-16 13:07:56,2022-02-19,16:30:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 수원 삼성블루윙즈,ALL_CANCEL,1,1071960581,Exciting석,성인,E6구역,G열,19번,Y,2022-02-16 13:07:56,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53916,1436677919,139589,2022-10-16 19:04:34,NaN,2022-10-16,19:00:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 포항 스틸러스,COMPLETE,2,1083176428,Exciting석,성인,E4구역,K열,9번,N,NaN,4.0
53917,1436677919,139589,2022-10-16 19:04:34,NaN,2022-10-16,19:00:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 포항 스틸러스,COMPLETE,3,1083176429,Exciting석,청소년/어린이,E4구역,K열,10번,N,NaN,4.0
53918,1436678141,151984,2022-10-16 19:16:26,NaN,2022-10-16,19:00:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 포항 스틸러스,COMPLETE,1,1083176663,원정석,성인,N3구역,P열,20번,N,NaN,4.0
53919,1436678299,118329,2022-10-16 19:26:17,NaN,2022-10-16,19:00:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 포항 스틸러스,COMPLETE,1,1083176800,S석,성인,S 6구역,M열,20번,N,NaN,4.0
53920,1436678299,118329,2022-10-16 19:26:17,NaN,2022-10-16,19:00:00,[하나원큐 K LEAGUE1 2022] 인천 유나이티드 vs 포항 스틸러스,COMPLETE,2,1083176801,S석,성인,S 6구역,M열,21번,N,NaN,4.0

In [219]:
ticket[ticket.ranking.isna()].game_date.unique() # 순위데이터가 결측된날

array(['2022-04-27T00:00:00.000000000'], dtype='datetime64[ns]')

In [220]:
ticket[ticket['game_date'] == '2022-04-27'].match_info.unique() # 티켓데이터에 FA CUP 경기가 포함되어있음

array(['[2022 하나원큐 FA CUP] 인천 유나이티드 vs 광주FC'], dtype=object)

In [221]:
ticket[~ticket['match_info'].str.contains('K LEAGUE1')].match_info.unique() # K리그1가 아닌 데이터 조회결과 / 다행히 전체데이터셋중 FA CUP 경기는 하나밖에 없음.

array(['[2022 하나원큐 FA CUP] 인천 유나이티드 vs 광주FC'], dtype=object)

In [222]:
ticket[~ticket['match_info'].str.contains('K LEAGUE1')].match_info.count() # 712개의 데이터밖에 없고, 예측에 이상치로 적용될 수 있으니 제외

712

In [223]:
ticket = ticket[ticket['match_info'].str.contains('K LEAGUE1')] # 이후 K LEAGUE1 데이터만 취급

In [224]:
assert ticket.reserve_datetime.isna().sum() + ticket.cancel_datetime.isna().sum() == len(ticket)
# reserve, cancel 각각 cencel_yn 여부에 따라 데이터가 존재

# 불필요한 특성
match_info / game_date와 game_time으로 특정할 수 있음<br>
reserve_state_code / 취소여부는 cancel_yn이 대체가능하고, 예매간 연관성을 시사하지않음<br>
reserve_detail_no / reserve_no의 groupcount가 대신할 수 있음<br>
ticket_no / 티켓의 고유번호(unique)<br>
seat_Attribute_4, seat_Attribute_5, seat_Attribute_6 / 좌석등급은 이미 있고, 좌석위치가 의미하는 인사이트는 거의 없고, 다루기 힘들 것으로 예상<br>
detail_cancel_date_time / cancel_datetime과 동일한것으로 확인됨

In [225]:
ticket = ticket.drop(columns=['match_info', 'reserve_state_code', 'reserve_detail_no', 'ticket_no', 'seat_Attribute_4', 'seat_Attribute_5', 'seat_Attribute_6', 'detail_cancel_date_time'])

In [226]:
ticket.head(30)

,reserve_no,membership_no,reserve_datetime,cancel_datetime,game_date,game_time,product_grade_name,product_denomination_name,cancel_yn,ranking
0,1427279942,291,NaN,2022-02-15 00:43:44,2022-02-19,16:30:00,1인 테이블석(SG2),5천원 멤버십 할인권 (일반),Y,2.0
1,1427279998,1073,NaN,2022-02-14 19:44:11,2022-02-19,16:30:00,With석,성인,Y,2.0
2,1427279998,1073,NaN,2022-02-14 19:44:11,2022-02-19,16:30:00,With석,성인,Y,2.0
3,1427279998,1073,NaN,2022-02-14 19:44:11,2022-02-19,16:30:00,With석,성인,Y,2.0
4,1427314440,3281,NaN,2022-02-16 13:07:56,2022-02-19,16:30:00,Exciting석,성인,Y,2.0
5,1427279896,3641,NaN,2022-02-19 13:16:32,2022-02-19,16:30:00,S석,청소년/어린이,Y,2.0
6,1427279896,3641,NaN,2022-02-19 13:16:32,2022-02-19,16:30:00,S석,청소년/어린이,Y,2.0
7,1427279896,3641,NaN,2022-02-19 13:16:32,2022-02-19,16:30:00,S석,성인,N,2.0
8,1427312700,3829,NaN,2022-02-15 21:06:30,2022-02-19,16:30:00,Expert석,성인,Y,2.0
9,1427279380,4150,NaN,2022-02-15 12:56:39,2022-02-19,16:30:00,S석,성인,Y,2.0
10,1427279380,4150,NaN,2022-02-15 12:56:39,2022-02-19,16:30:00,S석,성인,Y,2.0
11,1427301698,4150,NaN,2022-02-15 13:03:13,2022-02-19,16:30:00,S석,예매권북,Y,2.0
12,1427280325,5153,NaN,2022-02-18 07:49:52,2022-02-19,16:30:00,S석,성인,Y,2.0
13,1427280325,5153,NaN,2022-02-18 07:49:52,2022-02-19,16:30:00,S석,성인,Y,2.0
14,1427307640,6803,NaN,2022-02-15 14:30:42,2022-02-19,16:30:00,Exciting석,예매권북,Y,2.0
15,1427279790,7333,NaN,2022-02-14 14:04:27,2022-02-19,16:30:00,S석,예매권북,Y,2.0
16,1427279790,7333,NaN,2022-02-14 14:04:27,2022-02-19,16:30:00,S석,예매권북,Y,2.0
17,1427279790,7333,NaN,2022-02-14 14:04:27,2022-02-19,16:30:00,S석,예매권북,Y,2.0
18,1427279790,7333,NaN,2022-02-14 14:04:27,2022-02-19,16:30:00,S석,예매권북,Y,2.0
19,1427279790,7333,NaN,2022-02-14 14:04:27,2022-02-19,16:30:00,S석,예매권북,Y,2.0
20,1427279674,8627,NaN,2022-02-14 14:06:00,2022-02-19,16:30:00,S석,성인,Y,2.0
21,1427279674,8627,NaN,2022-02-14 14:06:00,2022-02-19,16:30:00,S석,성인,Y,2.0
22,1427279674,8627,NaN,2022-02-14 14:06:00,2022-02-19,16:30:00,S석,예매권북,Y,2.0
23,1427286178,10853,NaN,2022-02-15 13:42:21,2022-02-19,16:30:00,S석,ㅅㅇ전 게임권,Y,2.0
24,1427309852,62722,NaN,2022-02-19 14:12:46,2022-02-19,16:30:00,Expert석,예매권북,Y,2.0
25,1427309852,62722,NaN,2022-02-19 14:12:46,2022-02-19,16:30:00,Expert석,예매권북,Y,2.0
26,1427279282,69784,NaN,2022-02-14 14:03:45,2022-02-19,16:30:00,World class석,ㅅㅇ전 게임권,Y,2.0
27,1427279768,74254,NaN,2022-02-14 14:10:50,2022-02-19,16:30:00,World class석,예매권북,Y,2.0
28,1427279503,84905,NaN,2022-02-14 16:01:09,2022-02-19,16:30:00,World class석,예매권북,Y,2.0
29,1427279503,84905,NaN,2022-02-14 16:01:09,2022-02-19,16:30:00,World class석,예매권북,Y,2.0

In [227]:
ticket['reserve_datetime'] = pd.to_datetime(ticket['reserve_datetime'])
ticket['cancel_datetime'] = pd.to_datetime(ticket['cancel_datetime'])

In [228]:
ticket.game_date = ticket.game_date.astype(str)

In [229]:

ticket['timeremain'] = ticket.game_date + ' ' + ticket.game_time
ticket['timeremain'] = pd.to_datetime(ticket['timeremain'])

In [230]:
ticket.cancel_datetime = round((ticket.timeremain - ticket.cancel_datetime).dt.total_seconds()/60)
ticket.reserve_datetime = round((ticket.timeremain - ticket.reserve_datetime).dt.total_seconds()/60)

In [231]:
ticket

,reserve_no,membership_no,reserve_datetime,cancel_datetime,game_date,game_time,product_grade_name,product_denomination_name,cancel_yn,ranking,timeremain
0,1427279942,291,NaN,6706.0,2022-02-19,16:30:00,1인 테이블석(SG2),5천원 멤버십 할인권 (일반),Y,2.0,2022-02-19 16:30:00
1,1427279998,1073,NaN,7006.0,2022-02-19,16:30:00,With석,성인,Y,2.0,2022-02-19 16:30:00
2,1427279998,1073,NaN,7006.0,2022-02-19,16:30:00,With석,성인,Y,2.0,2022-02-19 16:30:00
3,1427279998,1073,NaN,7006.0,2022-02-19,16:30:00,With석,성인,Y,2.0,2022-02-19 16:30:00
4,1427314440,3281,NaN,4522.0,2022-02-19,16:30:00,Exciting석,성인,Y,2.0,2022-02-19 16:30:00
...,...,...,...,...,...,...,...,...,...,...,...
53916,1436677919,139589,-5.0,NaN,2022-10-16,19:00:00,Exciting석,성인,N,4.0,2022-10-16 19:00:00
53917,1436677919,139589,-5.0,NaN,2022-10-16,19:00:00,Exciting석,청소년/어린이,N,4.0,2022-10-16 19:00:00
53918,1436678141,151984,-16.0,NaN,2022-10-16,19:00:00,원정석,성인,N,4.0,2022-10-16 19:00:00
53919,1436678299,118329,-26.0,NaN,2022-10-16,19:00:00,S석,성인,N,4.0,2022-10-16 19:00:00
53920,1436678299,118329,-26.0,NaN,2022-10-16,19:00:00,S석,성인,N,4.0,2022-10-16 19:00:00

game_date, game_time / 날짜별 ranking으로 대체

In [232]:
ticket[['cancel_datetime', 'reserve_datetime']] = ticket[['cancel_datetime', 'reserve_datetime']].fillna(0)
ticket['accesstime'] = ticket['cancel_datetime']+ticket['reserve_datetime']

In [233]:
ticket.accesstime.min() # 경기시작 3분후쯤까지 티켓팅

-172.0

In [234]:
ticket

,reserve_no,membership_no,reserve_datetime,cancel_datetime,game_date,game_time,product_grade_name,product_denomination_name,cancel_yn,ranking,timeremain,accesstime
0,1427279942,291,0.0,6706.0,2022-02-19,16:30:00,1인 테이블석(SG2),5천원 멤버십 할인권 (일반),Y,2.0,2022-02-19 16:30:00,6706.0
1,1427279998,1073,0.0,7006.0,2022-02-19,16:30:00,With석,성인,Y,2.0,2022-02-19 16:30:00,7006.0
2,1427279998,1073,0.0,7006.0,2022-02-19,16:30:00,With석,성인,Y,2.0,2022-02-19 16:30:00,7006.0
3,1427279998,1073,0.0,7006.0,2022-02-19,16:30:00,With석,성인,Y,2.0,2022-02-19 16:30:00,7006.0
4,1427314440,3281,0.0,4522.0,2022-02-19,16:30:00,Exciting석,성인,Y,2.0,2022-02-19 16:30:00,4522.0
...,...,...,...,...,...,...,...,...,...,...,...,...
53916,1436677919,139589,-5.0,0.0,2022-10-16,19:00:00,Exciting석,성인,N,4.0,2022-10-16 19:00:00,-5.0
53917,1436677919,139589,-5.0,0.0,2022-10-16,19:00:00,Exciting석,청소년/어린이,N,4.0,2022-10-16 19:00:00,-5.0
53918,1436678141,151984,-16.0,0.0,2022-10-16,19:00:00,원정석,성인,N,4.0,2022-10-16 19:00:00,-16.0
53919,1436678299,118329,-26.0,0.0,2022-10-16,19:00:00,S석,성인,N,4.0,2022-10-16 19:00:00,-26.0
53920,1436678299,118329,-26.0,0.0,2022-10-16,19:00:00,S석,성인,N,4.0,2022-10-16 19:00:00,-26.0

In [235]:
ticket = ticket.drop(columns=['reserve_no', 'reserve_datetime', 'cancel_datetime'])

In [236]:
schedule = pd.read_csv('C:\\Develop\\Project7\\dataproc\\schedule2022.csv', usecols=['date', 'weekday', 'ranking'])

In [237]:
schedule

          date weekday  ranking
0   2022-02-19      주말        2
1   2022-02-26      주말        4
2   2022-03-01     공휴일        2
3   2022-03-05      주말        4
4   2022-03-13      주말        3
5   2022-03-20      주말        2
6   2022-04-02      주말        2
7   2022-04-05      평일        2
8   2022-04-10      주말        2
9   2022-05-05     공휴일        2
10  2022-05-08     공휴일        4
11  2022-05-14      주말        2
12  2022-05-17      평일        3
13  2022-05-21      주말        5
14  2022-05-29      주말        4
15  2022-06-18      주말        5
16  2022-06-22      평일        4
17  2022-06-25      주말        4
18  2022-07-03      주말        5
19  2022-07-06      평일        5
20  2022-07-09      주말        5
21  2022-07-16      주말        5
22  2022-07-30      주말        5
23  2022-08-03      평일        5
24  2022-08-07      주말        4
25  2022-08-13      주말        4
26  2022-08-20      주말        4
27  2022-08-27      주말        3
28  2022-09-02      평일        4
29  2022-09-06      평일        4
30  2022-09-11     공휴일        4
31  2022-09-14      평일        4
32  2022-09-18      주말        4
33  2022-10-01      주말        4
34  2022-10-08      주말        4
35  2022-10-11      평일        4
36  2022-10-16      주말        4

In [238]:
ticket = pd.merge(ticket, schedule, how='left', left_on='game_date', right_on='date').drop(columns=['date','timeremain','ranking_x'])

In [239]:
ticket.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53209 entries, 0 to 53208
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   membership_no              53209 non-null  int64
 1   game_date                  53209 non-null  object
 2   game_time                  53209 non-null  object
 3   product_grade_name         53209 non-null  object
 4   product_denomination_name  53209 non-null  object
 5   cancel_yn                  53209 non-null  object
 6   accesstime                 53209 non-null  float64
 7   weekday                    53209 non-null  object
 8   ranking_y                  53209 non-null  int64
dtypes: float64(1), int64(2), object(6)
memory usage: 4.1+ MB

In [240]:
ticket

,membership_no,game_date,game_time,product_grade_name,product_denomination_name,cancel_yn,accesstime,weekday,ranking_y
0,291,2022-02-19,16:30:00,1인 테이블석(SG2),5천원 멤버십 할인권 (일반),Y,6706.0,주말,2
1,1073,2022-02-19,16:30:00,With석,성인,Y,7006.0,주말,2
2,1073,2022-02-19,16:30:00,With석,성인,Y,7006.0,주말,2
3,1073,2022-02-19,16:30:00,With석,성인,Y,7006.0,주말,2
4,3281,2022-02-19,16:30:00,Exciting석,성인,Y,4522.0,주말,2
...,...,...,...,...,...,...,...,...,...
53204,139589,2022-10-16,19:00:00,Exciting석,성인,N,-5.0,주말,4
53205,139589,2022-10-16,19:00:00,Exciting석,청소년/어린이,N,-5.0,주말,4
53206,151984,2022-10-16,19:00:00,원정석,성인,N,-16.0,주말,4
53207,118329,2022-10-16,19:00:00,S석,성인,N,-26.0,주말,4
53208,118329,2022-10-16,19:00:00,S석,성인,N,-26.0,주말,4

In [241]:
ticket.to_csv('dataproc\\ticket.csv')

In [242]:
ticket.product_denomination_name.unique()

array(['5천원 멤버십 할인권 (일반)', '성인', '청소년/어린이', '예매권북', 'ㅅㅇ전 게임권',
       '5천원 멤버십 할인권 (성인)', 'K리그 축덕카드(체크)', 'K리그 축덕카드(신용)', '일반',
       '5천원 멤버십 할인권(청소년/어린이)', '문화누리카드(성인)', '1,000포인트 할인 쿠폰(성인)',
       '1,000포인트 할인 쿠폰(청소년/어린이)', '3,000포인트 할인 쿠폰(성인)',
       '3,000포인트 할인 쿠폰(청소년/어린이)', '5,000포인트 할인 쿠폰(성인)',
       '5,000포인트 할인 쿠폰(청소년/어린이)', '10% 할인 쿠폰(성인)', '10% 할인 쿠폰(청소년/어린이)',
       '생일쿠폰(성인)', '1만원 멤버십 할인권 (성인)', '생일쿠폰(청소년/어린이)',
       '1만원 멤버십 할인권 (청소년/어린이)', '5,000포인트 할인 쿠폰(일반)', 'K리그 PASS',
       '성인/청소년/어린이', '청소년', 'N회 방문자 할인쿠폰', '어린이', '포스코 건설 예매권',
       '셀트리온 예매권', '게임권', '1인 테이블석 할인권', '3,000포인트 할인 쿠폰(일반)',
       '1,000포인트 할인 쿠폰(일반)', '롯데백화점 30% 할인쿠폰(성인)', '1인 테이블석 50% 할인쿠폰',
       '프리미엄 골드석 50% 할인쿠폰'], dtype=object)

In [243]:
ticket[ticket['product_denomination_name'] == ]

SyntaxError: invalid syntax (2229731988.py, line 1)

In [ ]:
ticket.product_grade_name.unique()

array(['1인 테이블석(SG2)', 'With석', 'Exciting석', 'S석', 'Expert석',
       'World class석', '프리미엄 클래식', '1인 테이블석(EG4)', '원정석', '스카이라운지',
       '하이네켄 테이블석(2인)', 'N석', '1인 테이블석(EG1)', '프리미엄 골드', '피크닉 테이블석(2인)',
       'Wide view석', '서비푸드 테이블석(EG4)', '서비푸드 테이블석(SG2)', '서비푸드 테이블석(EG1)',
       '1인 테이블석EG4)'], dtype=object)

In [ ]:
ticket.cancel_yn.value_counts()

N    44730
Y     9191
Name: cancel_yn, dtype: int64

In [ ]:
ticket.membership_no.max()

151984